# 1.5 Lists

This section introduces lists, Python's primary type for holding an ordered collection of values.

**Creating a List**

Use square brackets to define a list literal:

In [6]:
# Define some lists

names = ['Elwood', 'Jake', 'Curtis']
nums = [39, 38, 42, 65, 111]

Sometimes lists are created by other methods. For example, a string can be split into a list using the `split()` method:

In [3]:
line = 'GOOG,100,490.10'
row = line.split(',')
row # new list created using split from a string

['GOOG', '100', '490.10']

**List operations**

Lists can hold items of any type. Add a new item using append():

In [7]:
names.append('Murphy') # Adds 'Murphy' at the end
names.insert(2,'Aretha') # Inserts in middle
names

['Elwood', 'Jake', 'Aretha', 'Curtis', 'Murphy']

Use + to concatenate lists:

In [8]:
s = [1, 2, 3]
t = ['a', 'b']
s + t           # [1, 2, 3, 'a', 'b']

[1, 2, 3, 'a', 'b']

Lists are indexed by integers. Starting at 0.

In [9]:
names = [ 'Elwood', 'Jake', 'Curtis' ]

names[0]  # 'Elwood'
names[1]  # 'Jake'
names[2]  # 'Curtis'

'Curtis'

Negative indices count from the end.

In [10]:
names[-1] # 'Curtis'

'Curtis'

You can change any item in a list.

In [12]:
names[1] = 'Joliet Jake'
names                     # [ 'Elwood', 'Joliet Jake', 'Curtis' ]

['Elwood', 'Joliet Jake', 'Curtis']

Length of the list.

In [13]:
names = ['Elwood','Jake','Curtis']
len(names)  # 3

3

Membership test (in, not in).

In [14]:
'Elwood' in names       # True
'Britney' not in names  # True

True

Replication (s * n).

In [15]:
s = [1, 2, 3]
s * 3   # [1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

**List Iteration and Search**

Use for to iterate over the list contents.

In [16]:
for name in names:
    # use name
    # e.g. print(name)
    print(name)

Elwood
Jake
Curtis

To find the position of something quickly, use index().

In [17]:
names = ['Elwood','Jake','Curtis']
names.index('Curtis')   # 2

2

If the element is present more than once, index() will return the index of the first occurrence.

If the element is not found, it will raise a ValueError exception.

**List Removal**

You can remove items either by element value or by index:

In [18]:
# Using the value
names.remove('Curtis')

# Using the index
del names[1]

names

['Elwood']

Removing an item does not create a hole. Other items will move down to fill the space vacated. 

If there are more than one occurrence of the element, remove() will remove only the first occurrence.

**List Sorting**

Lists can be sorted "in-place".

In [20]:
s = [10,1,7,3]
s.sort()
s

[1, 3, 7, 10]

In [21]:
# Reverse order
s = [10, 1, 7, 3]
s.sort(reverse=True)
s

[10, 7, 3, 1]

In [22]:
# Works with any ordered data
s = ['foo', 'bar', 'spam']
s.sort()
s

['bar', 'foo', 'spam']

Use sorted() if you'd like to make a new list instead:

In [23]:
t = sorted(s)   # s unchanged, t holds sorted values
t

['bar', 'foo', 'spam']

**Lists and Math**

Caution: Lists were not designed for math operations.

In [24]:
nums = [1, 2, 3, 4, 5]
nums * 2 # will double the list items

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

Specifically, lists don't represent vectors/matrices as in MATLAB, Octave, R, etc. However, there are some packages to help you with that (e.g. numpy).

## Exercises

In this exercise, we experiment with Python's list datatype. In the last section, you worked with strings containing stock symbols.

In [25]:
symbols = 'HPQ,AAPL,IBM,MSFT,YHOO,DOA,GOOG'

Split it into a list of names using the split() operation of strings:

In [26]:
symlist = symbols.split(',')

**Exercise 1.19: Extracting and reassigning list elements**

Try a few lookups:

In [27]:
symlist[0]

'HPQ'

In [28]:
symlist[1]

'AAPL'

In [30]:
symlist[-1]

'GOOG'

In [31]:
symlist[-2]

'DOA'

Try reassigning one value:

In [32]:
# choose some index number to reassign
symlist[2] = 'AIG'
symlist

['HPQ', 'AAPL', 'AIG', 'MSFT', 'YHOO', 'DOA', 'GOOG']

Take a few slices:

In [33]:
symlist[0:3]

['HPQ', 'AAPL', 'AIG']

In [34]:
symlist[-2:]

['DOA', 'GOOG']

Create an empty list and append an item to it.

In [36]:
mysyms = []
mysyms.append('GOOG')
mysyms

['GOOG']

You can reassign a portion of a list to another list. For example:

In [37]:
symlist[-2:] = mysyms # change index -2 till end in symlist to item in mysyms list
symlist

['HPQ', 'AAPL', 'AIG', 'MSFT', 'YHOO', 'GOOG']

When you do this, the list on the left-hand-side (symlist) will be resized as appropriate to make the right-hand-side (mysyms) fit. For instance, in the above example, the last two items of symlist got replaced by the single item in the list mysyms.

**Exercise 1.20: Looping over list items**

The for loop works by looping over data in a sequence such as a list. Check this out by typing the following loop and watching what happens:

In [38]:
for s in symlist: # Iterate item over the symlist list
    print('s =', s)

s = HPQ
s = AAPL
s = AIG
s = MSFT
s = YHOO
s = GOOG

**Exercise 1.21: Membership tests**

Use the in or not in operator to check if 'AIG','AA', and 'CAT' are in the list of symbols.

In [39]:
'AIG' in symlist

True

In [40]:
'AA' in symlist

False

In [41]:
'CAT' not in symlist

True

**Exercise 1.22: Appending, inserting, and deleting items**

Use the append() method to add the symbol 'RHT' to end of symlist.

In [42]:
# Append 'RHT'

symlist.append('RHT')
symlist

['HPQ', 'AAPL', 'AIG', 'MSFT', 'YHOO', 'GOOG', 'RHT']

Use the insert() method to insert the symbol 'AA' as the second item in the list.

In [44]:
symlist.insert(2, 'AA')
symlist

['HPQ', 'AAPL', 'AA', 'AA', 'AIG', 'MSFT', 'YHOO', 'GOOG', 'RHT']

Use the remove() method to remove 'MSFT' from the list.

In [45]:
# Remove 'MSFT'
symlist.remove('MSFT')
symlist

['HPQ', 'AAPL', 'AA', 'AA', 'AIG', 'YHOO', 'GOOG', 'RHT']

In [46]:
symlist.remove('AA')
symlist

['HPQ', 'AAPL', 'AA', 'AIG', 'YHOO', 'GOOG', 'RHT']

Append a duplicate entry for 'YHOO' at the end of the list.

Note: it is perfectly fine for a list to have duplicate values.

In [47]:
# Append 'YHOO'
symlist.append('YHOO')
symlist

['HPQ', 'AAPL', 'AA', 'AIG', 'YHOO', 'GOOG', 'RHT', 'YHOO']

Use the index() method to find the first position of 'YHOO' in the list.

In [48]:
# Find the first index of 'YHOO'
symlist.index('YHOO')

4

In [49]:
symlist[4]

'YHOO'

Count how many times 'YHOO' is in the list:

In [50]:
symlist.count('YHOO')

2

Remove the first occurrence of 'YHOO'.

In [51]:
# Remove the first occurrence of 'YHOO'
symlist.remove('YHOO')
symlist

['HPQ', 'AAPL', 'AA', 'AIG', 'GOOG', 'RHT', 'YHOO']

Just so you know, there is no method to find or remove all occurrences of an item. However, we'll see an elegant way to do this in section 2.

**Exercise 1.23: Sorting**

Want to sort a list? Use the sort() method. Try it out:

In [52]:
symlist.sort()
symlist

['AA', 'AAPL', 'AIG', 'GOOG', 'HPQ', 'RHT', 'YHOO']

Want to sort in reverse? Try this:

In [53]:
symlist.sort(reverse=True)
symlist

['YHOO', 'RHT', 'HPQ', 'GOOG', 'AIG', 'AAPL', 'AA']

Note: Sorting a list modifies its contents 'in-place'. That is, the elements of the list are shuffled around, but no new list is created as a result.

**Exercise 1.24: Putting it all back together**

Want to take a list of strings and join them together into one string? 

Use the join() method of strings like this (note: this looks funny at first).

In [54]:
a = ','.join(symlist)
a

'YHOO,RHT,HPQ,GOOG,AIG,AAPL,AA'

In [55]:
b = ':'.join(symlist)
b

'YHOO:RHT:HPQ:GOOG:AIG:AAPL:AA'

In [57]:
c = ' '.join(symlist)
c

'YHOO RHT HPQ GOOG AIG AAPL AA'

**Exercise 1.25: Lists of anything**

Lists can contain any kind of object, including other lists (e.g., nested lists). Try this out:

In [59]:
nums = [101, 102, 103]
items = ['spam', symlist, nums]
items # a list contains 1 strings and 2 lists

['spam', ['YHOO', 'RHT', 'HPQ', 'GOOG', 'AIG', 'AAPL', 'AA'], [101, 102, 103]]

Pay close attention to the above output. items is a list with three elements. The first element is a string, but the other two elements are lists.

You can access items in the nested lists by using multiple indexing operations.

In [60]:
items[0]

'spam'

In [61]:
items[0][0]

's'

In [62]:
items[1] # list symlist

['YHOO', 'RHT', 'HPQ', 'GOOG', 'AIG', 'AAPL', 'AA']

In [64]:
items[1][1]

'RHT'

In [65]:
items[1][1][2]

'T'

In [66]:
items[2] # nums list

[101, 102, 103]

In [67]:
items[2][1]

102

Even though it is technically possible to make very complicated list structures, as a general rule, you want to keep things simple. Usually lists hold items that are all the same kind of value. For example, a list that consists entirely of numbers or a list of text strings. Mixing different kinds of data together in the same list is often a good way to make your head explode so it's best avoided.