# 2.7 Objects

This section introduces more details about Python's internal object model and discusses some matters related to memory management, copying, and type checking.

**Assignment**

Many operations in Python are related to assigning or storing values.

In [ ]:
a = value         # Assignment to a variable
s[n] = value      # Assignment to a list
s.append(value)   # Appending to a list
d['key'] = value  # Adding to a dictionary

A caution: assignment operations never make a copy of the value being assigned. All assignments are merely reference copies (or pointer copies if you prefer).

**Assignment example**

Consider this code fragment.

In [1]:
a = [1,2,3]
b = a
c = [a,b]

A picture of the underlying memory operations. In this example, there is only one list object [1,2,3], but there are four different references to it.

![](https://github.com/dabeaz-course/practical-python/raw/master/Notes/02_Working_with_data/references.png)

This means that modifying a value affects all references.

In [2]:
a.append(999)
a

[1, 2, 3, 999]

In [3]:
b

[1, 2, 3, 999]

In [4]:
c

[[1, 2, 3, 999], [1, 2, 3, 999]]

Notice how a change in the original list shows up everywhere else (yikes!). This is because no copies were ever made. Everything is pointing to the same thing.

**Reassigning values**

Reassigning a value never overwrites the memory used by the previous value.

In [5]:
a = [1,2,3]
b = a
a = [4,5,6]

print(a)      # [4, 5, 6]
print(b)      # [1, 2, 3]    Holds the original value

[4, 5, 6]
[1, 2, 3]

Remember: Variables are names, not memory locations.

**Some Dangers**

If you don't know about this sharing, you will shoot yourself in the foot at some point. Typical scenario. You modify some data thinking that it's your own private copy and it accidentally corrupts some data in some other part of the program.

Comment: This is one of the reasons why the primitive datatypes (int, float, string) are immutable (read-only).

**Identity and References**

Use the `is` operator to check if two values are exactly the same object.

In [6]:
a = [1,2,3]
b = a
a is b

True

`is` compares the object identity (an integer). The identity can be obtained using `id()`.

In [7]:
id(a)

1451279895168

In [8]:
id(b)

1451279895168

Note: It is almost always better to use == for checking objects. The behavior of `is` is often unexpected:

In [9]:
a = [1,2,3]
b = a
c = [1,2,3]

In [10]:
a is b

True

In [11]:
a is c

False

In [12]:
a == c

True

**Shallow copies**

Lists and dicts have methods for copying.

In [13]:
a = [2,3,[100,101],4]

# Make a copy
b = list(a)
b

[2, 3, [100, 101], 4]

In [17]:
a is b

False

It's a new list, but the list items are shared

In [18]:
a[2].append(102)
b[2]

[100, 101, 102]

In [19]:
a[2] is b[2]

True

For example, the inner list [100, 101, 102] is being shared. This is known as a shallow copy. Here is a picture.

![](https://github.com/dabeaz-course/practical-python/raw/master/Notes/02_Working_with_data/shallow.png)

**Deep copies**

Sometimes you need to make a copy of an object and all the objects contained within it. You can use the copy module for this:

In [20]:
a = [2,3,[100,101],4]
import copy
b = copy.deepcopy(a)

a[2].append(102)
a[2]

[100, 101, 102]

In [21]:
b[2]

[100, 101]

In [23]:
a[2] is b[2]

False

**Names, Values, Types**

Variable names do not have a type. It's only a name. However, values do have an underlying type.

In [25]:
a = 42
b = 'Hello World'
type(a)
type(b)

str

`type()` will tell you what it is. The type name is usually used as a function that creates or converts a value to that type.

**Type Checking**

How to tell if an object is a specific type.

In [26]:
if isinstance(a, list):
    print('a is a list')

Checking for one of many possible types.

In [27]:
if isinstance(a, (list,tuple)):
    print('a is a list or tuple')

*Caution: Don't go overboard with type checking. It can lead to excessive code complexity. Usually you'd only do it if doing so would prevent common mistakes made by others using your code. *

**Everything is an object**

Numbers, strings, lists, functions, exceptions, classes, instances, etc. are all objects. It means that all objects that can be named can be passed around as data, placed in containers, etc., without any restrictions. There are no special kinds of objects. Sometimes it is said that all objects are "first-class".

A simple example:

In [28]:
import math
items = [abs, math, ValueError]
items

[<function abs(x, /)>, <module 'math' (built-in)>, ValueError]

In [29]:
items[0](-45)

45

In [30]:
items[1].sqrt(2)

1.4142135623730951

In [32]:
try:
    x = int('not a number')
except items[2]:
    print('Failed')

Failed

Here, `items` is a list containing a function, a module and an exception. You can directly use the items in the list in place of the original names:

In [ ]:
items[0](-45)       # abs
items[1].sqrt(2)    # math
except items[2]:    # ValueError

With great power comes responsibility. Just because you can do that doesn't mean you should.

## Exercises

In this set of exercises, we look at some of the power that comes from first-class objects.

**Exercise 2.24: First-class Data**

In the file Data/portfolio.csv, we read data organized as columns that look like this:

name,shares,price
"AA",100,32.20
"IBM",50,91.10
...

In previous code, we used the csv module to read the file, but still had to perform manual type conversions. For example:

In [ ]:
for row in rows:
    name   = row[0]
    shares = int(row[1])
    price  = float(row[2])

This kind of conversion can also be performed in a more clever manner using some list basic operations.

Make a Python list that contains the names of the conversion functions you would use to convert each column into the appropriate type:

In [34]:
types = [str, int, float]

The reason you can even create this list is that everything in Python is first-class. So, if you want to have a list of functions, that’s fine. The items in the list you created are functions for converting a value x into a given type (e.g., str(x), int(x), float(x)).

Now, read a row of data from the above file:

In [35]:
import os
os.chdir(r"C:\Users\Fadinda Shafira\Documents\KALBE\Python\practical-python\Work")

In [36]:
import csv
f = open('Data\portfolio.csv')
rows = csv.reader(f)
headers = next(rows)
row = next(rows)
row

['AA', '100', '32.20']

As noted, this row isn’t enough to do calculations because the types are wrong. For example:

In [37]:
row[1] * row[2]

TypeError: can't multiply sequence by non-int of type 'str'

However, maybe the data can be paired up with the types you specified in types. For example:

In [38]:
types[1]

int

In [39]:
row[1]

'100'

Try converting one of the values:

In [43]:
types[1](row[1]) # Same as int(row[1])

100

Try converting a different value:

In [44]:
types[2](row[2]) # Same as float(row[2])

32.2

Try the calculation with converted values:

In [45]:
types[1](row[1]) * types[2](row[2])

3220.0000000000005

Zip the column types with the fields and look at the result:

In [46]:
r = list(zip(types,row))
r

[(str, 'AA'), (int, '100'), (float, '32.20')]

You will notice that this has paired a type conversion with a value. For example, int is paired with the value '100'.

The zipped list is useful if you want to perform conversions on all of the values, one after the other. Try this:

In [53]:
converted = []
for func, val in zip(types, row):
    print(func)
    print(val)
    converted.append(func(val))

converted

<class 'str'>
AA
<class 'int'>
100
<class 'float'>
32.20

['AA', 100, 32.2]

In [48]:
converted[1] * converted[2]

3220.0000000000005

Make sure you understand what’s happening in the above code. 

1. In the loop. the `func` variable is one of the type conversion functions (e.g., `str`, `int`, etc.)
2. `val` variable is one of  the values like 'AA', '100'.
3. The expression `func(val)` is converting a value (kind of like a type cast).

The above code can be compressed into a single list comprehension.

In [55]:
converted = [func(val) for func,val in zip(types, row)]
converted

['AA', 100, 32.2]

**Exercise 2.25: Making dictionaries**

Remember how the dict() function can easily make a dictionary if you have a sequence of key names and values? Let’s make a dictionary from the column headers:

In [56]:
headers

['name', 'shares', 'price']

In [57]:
converted

['AA', 100, 32.2]

In [58]:
dict(zip(headers, converted))

{'name': 'AA', 'shares': 100, 'price': 32.2}

Of course, if you’re up on your list-comprehension fu, you can do the whole conversion in a single step using a dict-comprehension:

In [59]:
{ name: func(val) for name, func, val, in zip(headers, types, row)}

{'name': 'AA', 'shares': 100, 'price': 32.2}

**Exercise 2.26: The Big Picture**

Using the techniques in this exercise, you could write statements that easily convert fields from just about any column-oriented datafile into a Python dictionary.

Just to illustrate, suppose you read data from a different datafile like this:

In [60]:
f = open('Data\dowstocks.csv')
rows = csv.reader(f)
headers = next(rows)
row = next(rows)
headers

['name', 'price', 'date', 'time', 'change', 'open', 'high', 'low', 'volume']

Let’s convert the fields using a similar trick:

In [61]:
types = [str, float, str, str, float, float, float, float, int]
converted = [func(val) for func, val in zip(types, row)]
record = dict(zip(headers, converted))
record

{'name': 'AA',
 'price': 39.48,
 'date': '6/11/2007',
 'time': '9:36am',
 'change': -0.18,
 'open': 39.67,
 'high': 39.69,
 'low': 39.45,
 'volume': 181800}

In [62]:
record['name']

'AA'

In [63]:
record['price']

39.48